<div class="container">

  <div class="row">
    <div class="card-group" *ngIf="puppies && puppies.length">
      <div class="card" *ngFor="let puppy of puppies">
        <img src="{{puppy.imageUrl}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ puppy.puppyName }}</h5>
          <p class="card-text">{{ puppy.description }}.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
     
    </div>
  </div>

</div>



