/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
/* @import '~font-awesome/css/font-awesome.min.css'; */


body {
    font-family: 'Comfortaa', cursive;
    background: #1f2638;
}

h1{
    font-family: 'Poiret One', cursive; 
    /* color: #fac628;      
    font-weight: 900;
    text-transform: uppercase; */

    
}